@import "../../styles/variables";

.form {
  border: 1px solid $main-color;
  text-align: right;
  width: 300px;

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    text-align: left;
    width: 180px;

    input {
      width: 100%;
    }

    input[type="number"] {
      width: 40%;
    }

    select {
      width: 100%;
    }
  }

}

.modal {
  align-items: center;
  display: flex;
  justify-content: center;

  .textContainer{
    background-color: #FFFFFF;
    outline: none;
    padding: 50px;
  }
}
