.tableRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &.active {
    background-color: pink;
    cursor: pointer;
  }

  img {
    height: 50px;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-of-type {
      text-align: left;
      width: 130px;
    }

    &:last-of-type {
      width: 35px;
    }
  }
}

.modal {
  align-items: center;
  display: flex;
  justify-content: center;

  .textContainer {
    background-color: #FFFFFF;
    padding: 50px;

    .buttonGroup {
      display: flex;
      justify-content: space-between;
    }
  }
}
